body {
  background-color: white;
}

.base {
  background-color: #F2F2F2;
  height: calc(100vh - 3rem);
  overflow-y: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.base::-webkit-scrollbar {
  display: none;
}

#sideNavBar {
  background-color: #FFFFFF;
  height: 98vh;
  position: absolute;
  z-index: 1010;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-transition: display 0.5s ease-in-out;
  transition: display 0.5s ease-in-out;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#sideNavBar .navBarButtonImages {
  width: 25px;
  height: 25px;
}

.navBarClose {
  display: none;
}

.navBarOpen {
  display: block;
}

.menuHeaderBackgroundDayMode {
  height: 300px;
  width: 100%;
  background-image: url("../images/backgrounds/navBarTopBarBG1.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menuHeaderBackgroundNightMode {
  height: 300px;
  width: 100%;
  background-image: url("../images/backgrounds/navBarTopBarBG2.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dayThemeButton {
  background: url("../images/icons/dayModeButton.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: 0px solid transparent;
  height: 30px;
  width: 30px;
  padding: 10px;
  margin-top: 0px;
}

.nightThemeButton {
  background: url("../images/icons/nightModeButton.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding: 10px;
  margin-top: 0px;
  border: 0px solid transparent;
}

#menuCloseButton {
  background: url("../images/icons/cancle1.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: 0px solid transparent;
  height: 30px;
  width: 30px;
  padding: 10px;
  margin-top: 0px;
}

#dateDisplay {
  font-size: 14px;
  font-weight: 500;
}

#homeTopBar {
  height: 3rem;
  background-color: #F2F2F2;
}

#ProfileSection {
  background-color: transparent;
  height: calc(100vh - 3rem);
  width: 100vw;
  overflow-y: auto;
  position: absolute;
  top: 3rem;
  z-index: 1000;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
}

.avatar .avatarImage {
  width: 1.6rem;
  height: 1.6rem;
}

#menuButton {
  background-color: #F2F2F2;
}

#menuButton .avatarImage {
  width: 1.4rem;
  height: 1.4rem;
}

#addPostButton {
  background-color: #FF6B95;
}

#openchatsButton {
  background-color: #FFC796;
}

#profileCard {
  background-color: #FFFFFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#profileImageBox {
  min-height: 200px;
  max-height: 300px;
}

#profileImageBox #profileImage {
  min-height: 200px;
  max-height: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

#ownerActualName {
  color: #3F3D56;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 576px) {
  #ownerActualName {
    text-align: center;
  }
}

#ownerUserName {
  color: #3F3D56;
  font-size: 1.1 rem;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 576px) {
  #ownerUserName {
    text-align: center;
  }
}

#ownerBio {
  color: #3F3D56;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 576px) {
  #ownerBio {
    text-align: center;
  }
}

.statsHeading,
.statsNumbers {
  color: #3F3D56;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 10px;
}

#divider {
  border-color: #F2F2F2;
}

.postPreviewBox {
  height: 200px;
}

.postPreviewBox .postPreviewInnerBox {
  background-color: #C3C3C3;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.postPreviewBox .postPreviewInnerBox img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

/* post show css*/
#base {
  background-color: transparent;
  height: 100vh;
  width: 100vw;
}

#imagWrapper img {
  height: 100%;
}

.commentsBox {
  overflow-y: auto;
}

.profileImage {
  height: 50px;
}

.profileImage img {
  height: 50px;
  width: 50px;
  border-radius: 2.0rem;
}

.individualCommentBox {
  position: relative;
  overflow-y: auto;
}

.individualCommentBox .commenterContentBox p {
  line-height: 10px;
  border: 1px;
}

.messageInputBox {
  margin-bottom: 10px;
}

.messageInputBox .inputBox {
  width: 90%;
}

.sentButton {
  width: 2.5rem;
  height: 2.5rem;
}

.inputBox {
  width: 150px;
  border-radius: 1rem;
}

.commentsContainer {
  overflow-y: auto;
}
/*# sourceMappingURL=home.css.map */