$primary-dark: #2F2E41;
$primary-gray: #C3C3C3;
$primary-pink: #FF6B95;
$primary-white: #FFFFFF;
$primary-yellow: #FFC796;

$secondary-gray: #F2F2F2;

$primary-border-radius: 10px;

$sm: 576px;

body{
    background-color: white;
}

#base{
    background-color: transparent;
    height: 100vh;
    width: 100vw;
}
.button{
    width: 120px;
    height: 40px;
    background-color: $primary-yellow;
    border: none;
    border-radius: 10px;
    color: rgba($primary-dark,1.0);
    font-weight: 600;
    transition: 0.2s;

    &:hover{
        color: rgba($primary-white,1.0);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.4);
    }
}