$primary-dark: #2F2E41;
$primary-gray: #C3C3C3;
$primary-pink: #FF6B95;
$primary-white: #FFFFFF;
$primary-yellow: #FFC796;

$secondary-gray: #F2F2F2;

$primary-border-radius: 10px;

$sm: 576px;

body{
    background-color: white;
    // background-image: url(../images/backgrounds/landingpageBG3.png);
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position-y: bottom;
}

#base{
    background-color: transparent;
    // background-image: url(../images/backgrounds/landingpageBG2.png);
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position-y: top;
    height: 100vh;
    width: 100vw;
}
#imagWrapper{
    img{
    height: 100%;
    }
}
.commentsBox{
    overflow-y: auto;
}
.profileImage{
    height: 50px;
    img{
        height: 50px;
        width: 50px; 
        border-radius: 2.0rem;
    }
}
.individualCommentBox{
    position: relative;
    overflow-y: auto;
    .commenterContentBox{
        p{
            line-height: 10px;
            border: 1px;
        }
    }
}

.messageInputBox{
    margin-bottom: 10px;
    .inputBox{
        width: 90%;
    }
}
.sentButton{
    width: 2.5rem;
    height: 2.5rem;
}
.inputBox{
    width: 150px;
    border-radius: 1rem;
}
.commentsContainer{
    overflow-y: auto;
}
