<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- custome CSS -->
    <link rel="stylesheet" href="../static/css/chat.css">

    <title>Opinion</title>
  </head>
  <body>
    <section class="d-flex flex-column flex-sm-row justify-content-sm-between" id="base">
        <div class="col-12 col-sm-9" id="leftBox" style="background-color: aquamarine;">
          <!-- top bar -->
          <div class="d-flex justify-content-between align-items-center px-2" id="topBar">
            <div class="avatar" id="leftAvatar">
              <img src="../static/images/placeholder/avatarPlaceHolder1.jpg" alt="" class="avatarImage img-fluid">
            </div>
            <div class="avatar" id="rightAvatar">
              <img src="../static/images/placeholder/avatarPlaceHolder1.jpg" alt="" class="avatarImage img-fluid">
            </div>
          </div>
          <!-- top bar end -->
          <!-- chat show area -->
          <div class="col-12 d-flex flex-column p-2" id="chatShowArea">
            <div class="message leftMessage align-self-start p-2 my-2">
              <p>some message from the other person</p>
            </div>
            <div class="message rightMessage align-self-end p-2 my-2">
              <p>a message from the me</p>
              
            </div>
          </div>
          <!-- chat show area end -->
          <!-- bottom bar -->
          <div class="" id="bottomBar" style="background-color: cadetblue;">
          
          </div>
          <!-- bottom bar -->
        </div>
        <div class="col-12 col-sm-3" id="rightBox" style="background-color:blueviolet;">
          right
        </div>
    </section>

    <!-- custome js -->
    <script type="module" src=""></script>
    <!-- custome js end -->

    <!-- BootStrap Js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- BootStrap Js clear -->
    
  </body>
</html>