<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- custome CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/editProfile.css') }}">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


  <title>Opinion</title>
</head>

<body>

  <!-- pop up navigation -->
  <nav class="navBarClose col-12 col-sm-8 col-md-6 col-lg-4" id="sideNavBar">
    <header id="menuHeader" class="menuHeaderBackgroundDayMode d-flex justify-content-between p-2 mb-4">
      <p id="dateDisplay" class="my-2">
        <!-- DYNAMIC CONTENT HERE -->
      </p>
      <div class="d-flex flex-column">
        <div id="themeSwitch" class="dayThemeButton my-1"></div>
        <div id="menuCloseButton" class="my-1"></div>
      </div>
    </header>


    <div class="d-flex flex-column px-2">
      <div class="col-12 menubutton my-3" data-section-to-show="feedsSection" id="MenuHomeButton">
        <img class="navBarButtonImages" id="Home" src="{{ url_for('static',filename = '/images/icons/home1.png' ) }}">
        Home
      </div>

      <div class="col-12 menubutton my-3" data-section-to-show="ProfileSection" id="MenuProfileButton">
        <img class="navBarButtonImages" id="Profile"
          src="{{ url_for('static',filename = '/images/icons/profile1.png' ) }}">
        Profile
      </div>

      <div class="col-12 menubutton my-3" data-section-to-show="notificationSection" id="MenuNotificationButton">
        <img class="navBarButtonImages" id="Notification"
          src="{{ url_for('static',filename = '/images/icons/notification1.png' ) }}">
        Notification
      </div>

      <div class="col-12 menubutton my-3" data-section-to-show="SettingSection" id="MenuSettingButton">
        <img class="navBarButtonImages" id="setting"
          src="{{ url_for('static',filename = '/images/icons/setting1.png' ) }}">
        Setting
      </div>

      <div class="col-12 menubutton my-3" data-section-to-show="postSection" id="MenuShowPostButton">
        <img class="navBarButtonImages" id="postShow"
          src="{{ url_for('static',filename = '/images/icons/setting1.png' ) }}">
        postShow
      </div>

      <div class="col-12 menubutton my-3" data-section-to-show="baseExplore" id="MenuExploreButton">
        <img class="navBarButtonImages" id="ExploreShow"
          src="{{ url_for('static',filename = '/images/icons/setting1.png' ) }}">
        Explore
      </div>

    </div>
    <footer class="menubutton Logout px-2 mt-4">
      <img class="navBarButtonImages" id="login" src="{{ url_for('static',filename = '/images/icons/logout1.png' ) }}">
      Logout
    </footer>
  </nav>
  <!-- pop up navigation end -->

  <!-- top bar -->
  <div class="d-flex justify-content-center col-12" id="homeTopBarBox">
    <div class="d-flex justify-content-between align-items-center px-2 col-12 col-sm-10 col-md-8 col-lg-6"
      id="homeTopBar" style="background-color: #F2F2F2;">
      <div>
        <div class="avatar d-flex justify-content-center align-items-center" id="menuButton">
          <img src="{{ url_for('static',filename = '/images/icons/menu1.png' ) }}" alt="" class="avatarImage img-fluid">
        </div>
      </div>
      <div class="d-flex">
        <div class="avatar d-flex justify-content-center align-items-center me-2" id="addPostButton">
          <img src="{{ url_for('static',filename = '/images/icons/addPost1.png') }}" alt=""
            class="avatarImage img-fluid">
        </div>
        <div class="avatar d-flex justify-content-center align-items-center ms-2" id="openchatsButton">
          <img src="{{ url_for('static',filename = '/images/icons/chats1.png') }}" alt="" class="avatarImage img-fluid">
        </div>
      </div>
    </div>
  </div>
  <!-- top bar end -->

  <!--Home Section end-->
  <section class="d-flex justify-content-center" id="feedsSection">
    <div class="col-12 col-sm-10 col-md-8 col-lg-3" id="feedsParent">

      <div class="postCard my-2 py-2">
        <!-- top bar -->
        <div class="postCardTopBar d-flex justify-content-start">
          <img class="postOwnerAvatar" src="../static/images/general/avtar.png">
          <span class="postCardOwnerName py-2 mx-2">Tim1</span>
        </div>
        <!-- top bar end -->
        <!-- main content -->
        <div class="postCardContentBox">
          <img class="postCardContent" src="../static/images/general/avtar.png">
        </div>
        <!-- main content end -->
        <!-- bottom bar -->
        <div class="postCardBottomBar">
          <img id="post1" data-state="not-liked" src="../static/images/icons/non-liked.png"
            onclick="likeToggle('post1')">
          <img src="../static/images/icons/comments.png" style="float: right;">
        </div>
        <hr class="my-0 mx-3">
        <div class="mx-3 py-3">caption here</div>
        <!-- bottom bar end -->
      </div>

      <div class="postCard my-2 py-2">
        <!-- top bar -->
        <div class="postCardTopBar d-flex justify-content-start">
          <img class="postOwnerAvatar" src="../static/images/general/avtar.png">
          <span class="postCardOwnerName py-2 mx-2">Tim2</span>
        </div>
        <!-- top bar end -->
        <!-- main content -->
        <div class="postCardContentBox">
          <img class="postCardContent" src="../static/images/general/avtar.png">
        </div>
        <!-- main content end -->
        <!-- bottom bar -->
        <div class="postCardBottomBar">
          <img id="post2" data-state="not-liked" src="../static/images/icons/non-liked.png"
            onclick="likeToggle('post2')">
          <img src="../static/images/icons/comments.png" style="float: right;">
        </div>
        <hr class="my-0 mx-3">
        <div class="mx-3 py-3">caption here</div>
        <!-- bottom bar end -->
      </div>

      <div class="postCard my-2 py-2">
        <!-- top bar -->
        <div class="postCardTopBar d-flex justify-content-start">
          <img class="postOwnerAvatar" src="../static/images/general/avtar.png">
          <span class="postCardOwnerName py-2 mx-2">Tim3</span>
        </div>
        <!-- top bar end -->
        <!-- main content -->
        <div class="postCardContentBox">
          <img class="postCardContent" src="../static/images/general/avtar.png">
        </div>
        <!-- main content end -->
        <!-- bottom bar -->
        <div class="postCardBottomBar">
          <img id="post3" data-state="not-liked" src="../static/images/icons/non-liked.png"
            onclick="likeToggle('post3')">
          <img src="../static/images/icons/comments.png" style="float: right;">
        </div>
        <hr class="my-0 mx-3">
        <div class="mx-3 py-3">caption here</div>
        <!-- bottom bar end -->
      </div>

      <div class="postCard my-2 py-2">
        <!-- top bar -->
        <div class="postCardTopBar d-flex justify-content-start">
          <img class="postOwnerAvatar" src="../static/images/general/avtar.png">
          <span class="postCardOwnerName py-2 mx-2">Tim4</span>
        </div>
        <!-- top bar end -->
        <!-- main content -->
        <div class="postCardContentBox">
          <img class="postCardContent" src="../static/images/general/avtar.png">
        </div>
        <!-- main content end -->
        <!-- bottom bar -->
        <div class="postCardBottomBar">
          <img id="post4" data-state="not-liked" src="../static/images/icons/non-liked.png"
            onclick="likeToggle('post4')">
          <img src="../static/images/icons/comments.png" style="float: right;">
        </div>
        <hr class="my-0 mx-3">
        <div class="mx-3 py-3">caption here</div>
        <!-- bottom bar end -->
      </div>

      <div class="postCard my-2 py-2">
        <!-- top bar -->
        <div class="postCardTopBar d-flex justify-content-start">
          <img class="postOwnerAvatar" src="../static/images/general/avtar.png">
          <span class="postCardOwnerName py-2 mx-2 ">Tim5</span>
        </div>
        <!-- top bar end -->
        <!-- main content -->
        <div class="postCardContentBox">
          <img class="postCardContent" src="../static/images/general/avtar.png">
        </div>
        <!-- main content end -->
        <!-- bottom bar -->
        <div class="postCardBottomBar">
          <img id="post5" data-state="not-liked" src="../static/images/icons/non-liked.png" onclick="likeToggle('post5')">
          <img src="../static/images/icons/comments.png" style="float: right;">
        </div>
        <hr class="my-0 mx-3">
        <div class="mx-3 py-3">caption here</div>
        <!-- bottom bar end -->
      </div>
    </div>
  </section>
  <!--Home Section end-->

  <!-- profile section -->
  <section class="d-flex justify-content-center col-12" id="ProfileSection">
    <div class="base col-12 col-sm-10 col-md-8 col-lg-6" id="homeParent" style="background-color: #F2F2F2;">
      <!-- homeTopBar -->
      <!-- <div class="d-flex justify-content-between align-items-center px-2" id="homeTopBar">
        <div>
          <div class="avatar d-flex justify-content-center align-items-center" id="menuButton">
            <img src="{{ url_for('static',filename = '/images/icons/menu1.png' ) }}" alt=""
              class="avatarImage img-fluid">
          </div>
        </div>
        <div class="d-flex">
          <div class="avatar d-flex justify-content-center align-items-center me-2" id="addPostButton">
            <img src="{{ url_for('static',filename = '/images/icons/addPost1.png') }}" alt=""
              class="avatarImage img-fluid">
          </div>
          <div class="avatar d-flex justify-content-center align-items-center ms-2" id="openchatsButton">
            <img src="{{ url_for('static',filename = '/images/icons/chats1.png') }}" alt=""
              class="avatarImage img-fluid">
          </div>
        </div>
      </div> -->
      <!-- homeTopBar end -->

      <!-- profileCard -->
      <div class="px-2 mt-1">
        <div class="d-flex flex-column px-4 py-4" id="profileCard">
          <!-- uppar -->
          <div class="d-flex flex-column flex-sm-row">
            <div class="col-12 col-sm-4 d-flex" id="profileImageBox">
              <img class="img-fluid mx-auto" id="profileImage" src="" alt="">
            </div>
            <div class="w-100 mx-4" style="background-color: transparent;">
              <p class="" id="ownerActualName">
                <!-- Dynamice text here -->
              </p>
              <p class="" id="ownerUserName">
                <!-- Dynamice text here -->
              </p>
              <pre class="" id="ownerBio"><!-- Dynamice text here --></pre>

              <!-- <div class="d-flex flex-row">
                    
                  </div> -->
            </div>
          </div>
          <!-- upper end -->
          <!-- lower -->
          <div class="d-flex justify-content-between mt-3">
            <div class="col-4">
              <p class="statsHeading">post</p>
              <p class="statsNumbers" id="ownerPostCount">
                <!-- Dynamice text here -->
              </p>
            </div>
            <div class="col-4">
              <p class="statsHeading">followers</p>
              <p class="statsNumbers" id="ownerFollowerCount">
                <!-- Dynamice text here -->
              </p>
            </div>
            <div class="col-4">
              <p class="statsHeading">followings</p>
              <p class="statsNumbers" id="ownerFollowingCount">
                <!-- Dynamice text here -->
              </p>
            </div>
          </div>
          <!-- lower end -->
        </div>
      </div>
      <!-- profileCard end -->

      <!-- post preview container -->
      <div class="mt-5 px-2 d-flex flex-wrap" id="postPreviewContainer">
        <!-- DYNAMIC CONTENT HERE-->
      </div>
      <!-- post preview container end -->
    </div>
  </section>
  <!-- profile section end -->

  <!-- notifications section start -->
  <section class="d-none justify-content-sm-center" id="notificationSection">
    <div class=" d-flex flex-column align-item-center col-12 col-sm-10 col-md-8 col-lg-6 ">
      <div class="d-flex flex-column justify-content-start">
        <!--notification top bar-->
        <div class="notificationTopBar d-flex justify-content-center">
          <span class="notificationTopBarName py-3">Notifications</span>
        </div>

        <!--notifications start-->
        <div class="individualCommentBox d-flex align-item-center py-2">
          <div class="commenterContentBox col-12 d-flex flex-column">
            <span>priyagoyal225</span>
            <span class="py-2"> Sakshi Likes Your Photo</span>
          </div>
        </div>
        <hr class="mx-0">

        <div class="individualCommentBox d-flex align-item-center py-2">
          <div class="commenterContentBox col-12 d-flex flex-column">
            <span>priyagoyal225</span>
            <span class="py-2"> Sakshi Likes Your Photo</span>
          </div>
        </div>
        <hr class="mx-0">

        <div class="individualCommentBox d-flex align-item-center py-2">
          <div class="commenterContentBox col-12 d-flex flex-column">
            <span>priyagoyal225</span>
            <span class="py-2"> Sakshi Likes Your Photo</span>
          </div>
        </div>
        <hr class="mx-0">

        <div class="individualCommentBox d-flex align-item-center py-2">
          <div class="commenterContentBox col-12 d-flex flex-column">
            <span>priyagoyal225</span>
            <span class="py-2"> Sakshi Likes Your Photo</span>
          </div>
        </div>
        <hr class="mx-0">

        <div class="individualCommentBox d-flex align-item-center py-2">
          <div class="commenterContentBox col-12 d-flex flex-column">
            <span>priyagoyal225</span>
            <span class="py-2"> Sakshi Likes Your Photo</span>
          </div>
        </div>
        <hr class="mx-0">

        <div class="individualCommentBox d-flex align-item-center py-2">
          <div class="commenterContentBox col-12 d-flex flex-column">
            <span>priyagoyal225</span>
            <span class="py-2"> Sakshi Likes Your Photo</span>
          </div>
        </div>
        <hr class="mx-0">

        <div class="individualCommentBox d-flex align-item-center py-2">
          <div class="commenterContentBox col-12 d-flex flex-column">
            <span>priyagoyal225</span>
            <span class="py-2"> Sakshi Likes Your Photo</span>
          </div>
        </div>
        <hr class="mx-0">

        <div class="individualCommentBox d-flex align-item-center py-2">
          <div class="commenterContentBox col-12 d-flex flex-column">
            <span>priyagoyal225</span>
            <span class="py-2"> Sakshi Likes Your Photo</span>
          </div>
        </div>
        <hr class="mx-0">

        <div class="individualCommentBox d-flex align-item-center py-2">
          <div class="commenterContentBox col-12 d-flex flex-column">
            <span>priyagoyal225</span>
            <span class="py-2">Sakshi Likes Your Photo</span>
          </div>
        </div>
        <hr class="mx-0">

        <div class="individualCommentBox d-flex align-item-center py-2">
          <div class="commenterContentBox col-12 d-flex flex-column">
            <span>priyagoyal225</span>
            <span class="py-2"> Sakshi Likes Your Photo</span>
          </div>
        </div>
        <hr class="mx-0">
      </div>
    </div>
  </section>
  <!-- notifications section end -->


  <!-- setting section -->
  <section class="d-none justify-content-center" id="SettingSection">
    <div class="base d-flex flex-column align-items-center col-12 col-sm-10 col-md-8 col-lg-6">
      <div class="profileSettingsTopBar d-flex justify-content-center col-12">
        <span class="profileSettingTopBarName d-flex justify-content-center py-3">Profile Settings</span>
      </div>
      <div class="d-flex flex-column align-items-center py-2">
        <div class="changeImage d-flex justify-content-center">

        </div>
        <div class="d-flex flex-row my-4 justify-content-center">
          <!-- <small class="warningText" id="changeProfilePicInpInvalidWarningText">warning</small> -->
          <button class="button mx-2" id="reselectButton">Reselect</button>
          <button class="button mx-2" id="setProfileButton">Set Profile</button>
        </div>
        <hr class="col-12">
      </div>


      <div class="d-flex flex-column align-items-center">
        <div class="py-3 d-flex flex-column">
          <label class="my-1">Name</label>
          <input class="input flex-column" type="text" data-warning-text-id="changeNameInpInvalidWarningText"
            id="changenameInp">
          <small class="warningText" id="changeNameInpInvalidWarningText">warning</small>
        </div>
        <div class="d-flex flex-row  my-4 justify-content-center">
          <button class="button mx-2" id="setNameButton">Set Name</button>
        </div>
        <hr class="col-12">
      </div>


      <div class="d-flex flex-column align-items-center">
        <div class="py-3 d-flex flex-column">
          <label class="my-1">Bio</label>
          <input class="input" data-warning-text-id="changeBioInpInvalidWarningText" class="col-12 my-1"
            id="changeBioInp">
          <small class="warningText" id="changeBioInpInvalidWarningText">warning</small>
        </div>
        <div class="d-flex flex-row  my-4 justify-content-center">
          <button class="button mx-2" id="setBioButton">Set Bio</button>
        </div>
      </div>

      <div class="securityTopBar d-flex justify-content-center col-12 col-sm-9">
        <span class="securityTopBarName d-flex justify-content-center py-3">Security</span>
      </div>

      <div class="d-flex flex-column align-items-center py-4">
        <div class="">
          <label for="#">Account Type</label>
        </div>
        <div class="d-flex flex-row my-4 justify-content-center">
          <button class="button mx-2" id="publicAccountButton">Public</button>
          <button class="button mx-2" id="privateButton">Private</button>
        </div>
        <hr class="col-12">
      </div>

      <div class="d-flex flex-column align-items-center">
        <div class="#">
          <label for="changePasswordTypeInp">Change Password</label>
        </div>
        <div class="py-2 d-flex flex-column">
          <label class="my-1">old password</label>
          <input class="input" type="text" data-warning-text-id="oldPasswordInpInvalidWarningText" id="oldPasswordInp">
          <small class="warningText" id="oldPasswordInpInvalidWarningText">warning</small>

        </div>
        <div class="py-2 d-flex flex-column">
          <label class="my-1">new password</label>
          <input class="input" type="text" data-warning-text-id="changeNewPasswordInpInvalidWarningText"
            id="changeNewPasswordInp">
          <small class="warningText" id="changeNewPasswordInpInvalidWarningText">warning</small>

        </div>
        <div class="py-2 d-flex flex-column">
          <label class="my-1">confirm password</label>
          <input class="input" type="text" data-warning-text-id="changeConfirmPasswordInpInvalidWarningText"
            id="changeConfirmPasswordInp">
          <small class="warningText" id="changeConfirmPasswordInpInvalidWarningText">warning</small>

        </div>
        <div class="d-flex flex-row  my-4 justify-content-center">
          <button class="button mx-2" id="setPasswordButton">Set Password</button>
        </div>
      </div>
    </div>
  </section>
  <!-- setting section ends -->


  <!--post show section start-->
  <section class="d-none justify-content-sm-center" id="postSection">
    <div class=" d-flex flex-column flex-lg-row align-item-center col-12 col-sm-7 py-5" id="leftBox">
      <div class="col-12 col-lg-6 px-0 d-flex justify-content-center">
        <div id="imagWrapper">
          <img class="img-fluid" src="../static/images/general/avtar.png">
        </div>
      </div>
      <div class="commentsBox d-flex flex-column justify-content-between col-12 col-lg-6  px-2">
        <div class="commentsContainer">

          <div class="d-flex flex-row topBarUserName sticky-top">
            <div class="col-11 d-flex justify-content-center ">
              priyagoyal225
            </div>
            <div class="col-1 d-flex justify-content-end">
              <span class="closeButton">&times;</span>
            </div>
            <hr>
          </div>
          <div class="">
            Caption Here
          </div>
          <hr>



          <div>
            <div class="individualCommentBox d-flex align-item-center my-3">
              <div class="commenterProfileBox col-2 profileImage">
                <img src="../static/images/general/avtar.png">
              </div>
              <div class="commenterContentBox col-10 my-1">
                <p>priyagoyal225</p>
                <p> This is aman</p>
              </div>
            </div>
            <hr>
          </div>
          <div>
            <div class="individualCommentBox d-flex align-item-center my-3">
              <div class="commenterProfileBox col-2 profileImage">
                <img src="../static/images/general/avtar.png">
              </div>
              <div class="commenterContentBox col-10 my-1">
                <p>priyagoyal225</p>
                <p> This is aman</p>
              </div>
            </div>
            <hr>
          </div>
          <div>
            <div class="individualCommentBox d-flex align-item-center my-3">
              <div class="commenterProfileBox col-2 profileImage">
                <img src="../static/images/general/avtar.png">
              </div>
              <div class="commenterContentBox col-10 my-1">
                <p>priyagoyal225</p>
                <p> This is aman</p>
              </div>
            </div>
            <hr>
          </div>
          <div>
            <div class="individualCommentBox d-flex align-item-center my-3">
              <div class="commenterProfileBox col-2 profileImage">
                <img src="../static/images/general/avtar.png">
              </div>
              <div class="commenterContentBox col-10 my-1">
                <p>priyagoyal225</p>
                <p> This is aman</p>
              </div>
            </div>
            <hr>
          </div>
          <div>
            <div class="individualCommentBox d-flex align-item-center my-3">
              <div class="commenterProfileBox col-2 profileImage">
                <img src="../static/images/general/avtar.png">
              </div>
              <div class="commenterContentBox col-10 my-1">
                <p>priyagoyal225</p>
                <p> This is aman</p>
              </div>
            </div>
            <hr>
          </div>

          <div>
            <div class="individualCommentBox d-flex align-item-center my-3">
              <div class="commenterProfileBox col-2 profileImage">
                <img src="../static/images/general/avtar.png">
              </div>
              <div class="commenterContentBox col-10 my-1">
                <p>priyagoyal225</p>
                <p> This is aman</p>
              </div>
            </div>
            <hr>
          </div>
          <div>
            <div class="individualCommentBox d-flex align-item-center my-3">
              <div class="commenterProfileBox col-2 profileImage">
                <img src="../static/images/general/avtar.png">
              </div>
              <div class="commenterContentBox col-10 my-1">
                <p>priyagoyal225</p>
                <p> This is aman</p>
              </div>
            </div>
            <hr>
          </div>
          <div>
            <div class="individualCommentBox d-flex align-item-center my-3">
              <div class="commenterProfileBox col-2 profileImage">
                <img src="../static/images/general/avtar.png">
              </div>
              <div class="commenterContentBox col-10 my-1">
                <p>priyagoyal225</p>
                <p> This is aman</p>
              </div>
            </div>
            <hr>
          </div>
        </div>

        <div class="col-12 d-flex  align-item-center messageInputBox">
          <input type="text" class="inputBox" placeholder="add comments . .">
          <img class=" sentButton img-fluid d-flex flex-row-reverse" src="../static/images/icons/send1.png">
        </div>
      </div>
  </section>
  <!--post show end-->

  <!--Explore Section Start-->
  <section class="d-flex justify-content-sm-center" id="baseExplore">
    <div class=" d-flex flex-column align-item-center col-12 col-sm-6 ">
      <div class="d-flex flex-column justify-content-start px-1 py-2">
        <div class=" options d-flex flex-column flex-sm-row py-2 justify-content-around">
          <span class=" mx-2" id="followersOption" onclick="showHide()">followers</span>
          <span class=" mx-2" id="followingOption" onclick="showHide2()">following</span>
          <span class=" mx-2" id="findOption" onclick="showHide3()">search</span>
          <span class="  mx-2" id="pendingOption" onclick="showHide4()">pending</span>
        </div>
      </div>

      <hr>


      <div class="d-flex flex-column justify-content-between" id="followers">
        <div class="d-flex py-2 mx-2 justify-content-around ">
          <span>tim tim followers</span>
          <button>view</button>
        </div>
      </div>




      <div class="d-none flex-column justify-content-between" id="following">
        <div class="d-flex py-2 mx-2  justify-content-around ">
          <span>tim tim following</span>
          <button>view</button>
        </div>
      </div>


      <div class=" d-none flex-column justify-content-between" id="find">
        <div class="d-flex justify-content-center">
          <input id="searchInput" type="text" placeholder="search">
          <p id="searchEmoji">&#128269</p>
        </div>
        <div id="findInnerBox" class="d-flex flex-column">
          <!-- DYNAMIC CONTENT HERE -->
        </div>
      </div>




      <div class=" d-none flex-column justify-content-between" id="pending">
        <div class="d-flex py-2 mx-2  justify-content-around">
          <span>tim tim</span>
          <div>
            <button>accept</button>
            <button>reject</button>
          </div>
        </div>
        <div class="d-flex py-2 mx-2 justify-content-around ">
          <span>tim tim</span>
          <div>
            <button>accept</button>
            <button>reject</button>
          </div>

        </div>
        <div class=" d-flex py-2 mx-2 justify-content-around ">
          <span>tim tim</span>
          <div>
            <button>accept</button>
            <button>reject</button>
          </div>
        </div>
        <div class="d-flex py-2 mx-2  justify-content-around ">
          <span>tim tim</span>
          <div>
            <button>accept</button>
            <button>reject</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Explore Section end-->






  <!-- custome js -->
  <script type="module" src="{{ url_for('static',filename = '/js/home.js') }}"></script>
  <script type="module" src="{{ url_for('static',filename = '/js/userProfile.js') }}"></script>
  <!-- custome js end -->

  <!-- BootStrap Js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- BootStrap Js clear -->

</body>

</html>