<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- custome CSS -->
    <link rel="stylesheet" href="../static/css/home.css">

    <title>Opinion</title>
  </head>
  <body>
    <nav class="navBarClose" id="sideNavBar">
      <!-- <div class="btn ">
        <span class="fas fa-bars"></span>
      </div> -->
     
      <header id="menuHeader" class="menuHeaderBackgroundDayMode d-flex justify-content-between p-2 mb-4">
          <p id="dateDisplay" class="my-2">
              <!-- DYNAMIC CONTENT HERE -->
          </p>
          <div class="d-flex flex-column">
            <div id="themeSwitch" class="dayThemeButton my-1"></div>
            <div id="menuCloseButton" class="my-1"></div>
          </div>
      </header>
      <div class="d-flex flex-column px-2">
          <div class="col-12 menubutton my-2">
              <img class="navBarButtonImages" id="Home" src="../static/images/icons/home1.png">
              Home
          </div>
          <div class="col-12 menubutton my-2">
              <img class="navBarButtonImages" id="Profile" src="../static/images/icons/profile1.png">
              Profile
          </div>
          <div class="col-12 menubutton my-2">
              <img class="navBarButtonImages" id="Notification" src="../static/images/icons/notification1.png">
              Notification
          </div>
          <div class="col-12 menubutton my-2">
              <img class="navBarButtonImages" id="setting" src="../static/images/icons/setting1.png">
              Setting
          </div>
      </div>
      <footer class="menubutton Logout px-2">
          <img class="navBarButtonImages" id="login" src="../static/images/icons/logout1.png">
          Logout
      </footer>
    </nav>

    <section class="d-flex justify-content-center" id="ProfileSection">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6" id="homeParent" style="background-color: #F2F2F2;">
          <!-- homeTopBar -->
          <div class="d-flex justify-content-between align-items-center px-2" id="homeTopBar">
            <div>
              <div class="avatar d-flex justify-content-center align-items-center" id="menuButton">
                <img src="../static/images/icons/menu1.png" alt="" class="avatarImage img-fluid">
              </div>
            </div>
            <div class="d-flex">
              <div class="avatar d-flex justify-content-center align-items-center me-2" id="addPostButton">
                <img src="../static/images/icons/addPost1.png" alt="" class="avatarImage img-fluid">
              </div>
              <div class="avatar d-flex justify-content-center align-items-center ms-2" id="openchatsButton">
                <img src="../static/images/icons/chats1.png" alt="" class="avatarImage img-fluid">
              </div>
            </div>
          </div>
          <!-- homeTopBar end -->
          
          <!-- profileCard -->
          <div class="px-2 mt-1">
            <div class="d-flex flex-column px-4 py-4" id="profileCard">
              <!-- uppar -->
              <div class="d-flex flex-column flex-sm-row">
                <div class="col-12 col-sm-4 d-flex" id="profileImageBox">
                  <img class="img-fluid mx-auto" id="profileImage" src="../static/images/placeholder/avatarPlaceHolder1.jpg" alt="">
                </div>
                <div class="w-100 mx-4" style="background-color: transparent;">
                  <p class="" id="name">Aman verma(user name)</p>
                  <pre class="" id="description">some line1 
some line2
some line3
some line4
                  </pre>
                </div>
              </div>
              <!-- upper end -->
              <!-- lower -->
              <div class="d-flex justify-content-between">
                

              </div>
              <!-- lower end -->
            </div>
          </div>
          <!-- profileCard end -->
          
          <!-- 
          <div class="px-2 mb-5">
            <hr id="divider">
          </div> 
          -->

          <!-- post preview container -->
          <div class="mt-5">
            
            <div class="px-2 d-flex justify-content-start ">
              <div class="postPreviewBox col-4 p-1">
                <div class="postPreviewInnerBox w-100 h-100" style="background-color: brown;">
                  1
                </div>
              </div>
              
              <div class="postPreviewBox col-4 p-1">
                <div class="postPreviewInnerBox w-100 h-100" style="background-color: brown;">
                  2
                </div>
              </div>

              <div class="postPreviewBox col-4 p-1">
                <div class="postPreviewInnerBox w-100 h-100" style="background-color: brown;">
                  3
                </div>
              </div>
            </div>
            
            <div class="px-2 d-flex justify-content-start ">
              <div class="postPreviewBox col-4 p-1">
                <div class="postPreviewInnerBox w-100 h-100" style="background-color: brown;">
                  4
                </div>
              </div>
              
              <div class="postPreviewBox col-4 p-1">
                <div class="postPreviewInnerBox w-100 h-100" style="background-color: brown;">
                  5
                </div>
              </div>

              <div class="postPreviewBox col-4 p-1">
                <div class="postPreviewInnerBox w-100 h-100" style="background-color: brown;">
                  6
                </div>
              </div>
            </div>

            <div class="px-2 d-flex justify-content-start ">
              <div class="postPreviewBox col-4 p-1">
                <div class="postPreviewInnerBox w-100 h-100" style="background-color: brown;">
                  7
                </div>
              </div>
              
              <div class="postPreviewBox col-4 p-1">
                <div class="postPreviewInnerBox w-100 h-100" style="background-color: brown;">
                  8
                </div>
              </div>

              <div class="postPreviewBox col-4 p-1">
                <div class="postPreviewInnerBox w-100 h-100" style="background-color: brown;">
                  9
                </div>
              </div>
            </div>
            
            <div class="px-2 d-flex justify-content-between ">
              <div class="postPreviewBox col-4 p-1">
                <div class="postPreviewInnerBox w-100 h-100" style="background-color: brown;">
                  10
                </div>
              </div>
            </div>

          </div>
          <!-- post preview container end -->


        </div>
        

    </section>

    <!-- custome js -->
    <script type="module" src="../static/js/home.js"></script>
    <script type="module" src="../static/js/userProfile.js"></script>
    <!-- custome js end -->

    <!-- BootStrap Js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- BootStrap Js clear -->
    
  </body>
</html>